<launch>

  <arg name="routes_file" default="$(find colibri_pathproc)/routes/ygl1103_mdf_cut_routes.yaml"/>
  <arg name="sp_nodes_file" default="$(find colibri_pathproc)/routes/ygl1103_mdf_cut_sp_nodes.yaml"/>
  <node pkg="colibri_pathproc" type="path_handle" name="crab_handle_node" output="screen" args="$(arg routes_file) $(arg sp_nodes_file)" >
  </node>
  
</launch>

